.dropdown-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.dropdown-menu a {
	display: block;
	color: inherit;
}
#main-menu {
	font-size: 28px;
	text-transform: uppercase;
}
/* Home button */
#main-menu > ul > li > a {
	font-size: 34px;
	line-height: 1.4;
	letter-spacing: -1px;
	visibility: hidden;
}
.js #main-menu > ul > li > a {
	display: none;
}
/* Root menu */
body:not(.submenu-open) #main-menu > ul > li > ul {
	height: auto !important;
}
#main-menu > ul > li > ul {
	right: 0;
	top: 1px;
	text-transform: lowercase;
	line-height: 0.9;
	max-width: 360px;
	margin: 10px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
/* Root menu items */
#main-menu > ul > li > ul > li > a {
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 2;
	vertical-align: bottom;
}
/* Submenus */
#main-menu > ul > li > ul ul {
	z-index: 1;
	font-size: 14px;
	overflow: visible;
	padding: 0 4px 4px;
}
