.js .page--new #main-content > p,
.js .page--new #main-content > h3 {
	visibility: hidden;
	position: absolute;
}

.slideshow img {
	outline: none;
	transform: translateZ(0);
}

.h-imgs {
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	padding: 8px 4px;
	width: 100vw;
	height: 100vh;
	left: 0;
	white-space: nowrap;
	overflow: auto;
	z-index: 3;
}
.h-imgs > img {
	max-height: calc(100% - 16px);
	max-width: calc(100% - 16px);
	object-fit: contain;
	margin: 0 4px;
	border-radius: 3px;
}

.thumbs-grid {
}
.thumbs-grid > .grid-row {
	display: grid;
	grid-gap: 8px;
	margin-bottom: 8px;
}
.thumbs-grid a {
	display: block;
	border-radius: 2px;
	overflow: hidden;
}
.thumbs-grid img {
	width: 100%;
	height: auto;
	transition: opacity 0.2s;
}
.thumbs-grid a:hover img {
	opacity: 0.5;
}
