.js .page--new #main-content > p,
.js .page--new #main-content > h3 {
	visibility: hidden;
	position: absolute;
}

.slideshow img {
	outline: none;
}

/* Justified Gallery */
/*
.justified-gallery.loading {
	padding-bottom: 100px;
}
.justified-gallery + .loader {
	top: auto;
	bottom: 20px;
}
.justified-gallery > .spinner {
	display: none !important;
}
*/

/* Featherlight Gallery */
/*
.featherlight {
	width: 100vw;
	height: 100vh;
}
.featherlight .featherlight-content {
	overflow: visible;
	background-color: transparent;
}
.featherlight .featherlight-close-icon {
	display: none !important;
}
.featherlight-next, .featherlight-previous,
.featherlight-next svg, .featherlight-previous svg {
	width: 50px;
	height: 50px;
}
.featherlight-next, .featherlight-previous {
	position: fixed;
	background-color: transparent !important;
    top: calc(50% - 25px);
}
.featherlight-next > span, .featherlight-previous > span {
	display: inline-block!important;
	font-size: 1em;
	position: static;
	line-height: 1;
	margin: 0;
	width: auto;
	height: auto;
	text-shadow: none;
}
.featherlight-previous {
	left: 5px;
	right: auto;
}
.featherlight-next {
	right: 5px;
	left: auto;
}
*/
.h-imgs {
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	padding: 8px 4px;
	width: 100vw;
	height: 100vh;
	left: 0;
	white-space: nowrap;
	overflow: auto;
	z-index: 3;
}
.h-imgs > img {
	max-height: calc(100% - 16px);
	max-width: calc(100% - 16px);
	object-fit: contain;
	margin: 0 4px;
	border-radius: 3px;
}

.thumbs-grid {
	display: grid;
	grid-gap: 8px;
}
.thumbs-grid.grid-6 {
	display: none;
	grid-template-columns: repeat(6, 6fr);
}
.thumbs-grid.grid-4 {
	display: none;
	grid-template-columns: repeat(4, 4fr);
}
.thumbs-grid.grid-3 {
	grid-template-columns: repeat(3, 3fr);
}
@media (min-width: 450px) {
	.thumbs-grid.grid-4 {
		display: grid;
	}
	.thumbs-grid.grid-3 {
		display: none;
	}
}
@media (min-width: 768px) {
	.thumbs-grid.grid-6 {
		display: grid;
	}
	.thumbs-grid.grid-4 {
		display: none;
	}
}
.thumbs-grid > section {
	display: flex;
	flex-direction: column;
}
.thumbs-grid a {
	display: block;
	margin-bottom: 8px;
	background-color: gray;
	border-radius: 2px;
	overflow: hidden;
}
.thumbs-grid img {
	width: 100%;
	height: auto;
	transition: opacity 0.2s;
}
.thumbs-grid a:hover img {
	opacity: 0.5;
}
