.js .page--new #main-content > p,
.js .page--new #main-content > h3 {
	visibility: hidden;
	position: absolute;
}

.slideshow img {
	outline: none;
}

/* Featherlight Gallery */
.featherlight {
	width: 100vw;
	height: 100vh;
}
.featherlight .featherlight-content {
	overflow: visible;
	background-color: transparent;
}
.featherlight .featherlight-close-icon {
	background-color: transparent;
	color: white;
}
.featherlight-next, .featherlight-previous {
	background-color: transparent !important;
}
.featherlight-previous {
	left: -40px;
	right: calc(100% - 40px);
}
.featherlight-next {
	right: -40px;
	left: calc(100% - 40px);
}
.featherlight-next span, .featherlight-previous span {
	font-size: 30px;
	display: inline-block !important;
}

/* Zoom */
.zoomImg {
	cursor: zoom-in;
}
