/vendor/
ProcessWire
public_html/wire
public_html/site/config.php
public_html/site/assets/logs
public_html/site/assets/cache
public_html/site/assets/sessions
public_html/site/assets/videos
public_html/site/assets/media-element
public_html/site/assets/test-album
public_html/site/assets/slideshows/**
!public_html/site/assets/slideshows/pat-field-keith-haring
!public_html/site/assets/slideshows/pat-field-keith-haring/ana-lisboa-steps
!public_html/site/assets/slideshows/pat-field-keith-haring/ana-lisboa-steps/info.js

public_html/site/.env
public_html/site/assets/bower_components

public_html/site/assets/dist/*

!public_html/site/assets/dist/base.css
!public_html/site/assets/dist/images.css
!public_html/site/assets/dist/motion.css
!public_html/site/assets/dist/jigsaw.css
!public_html/site/assets/dist/home.css

!public_html/site/assets/dist/base.js
!public_html/site/assets/dist/slideshow.js
!public_html/site/assets/dist/motion.js
!public_html/site/assets/dist/heart-collage.js
!public_html/site/assets/dist/home.js

public_html/site/assets/css/fonts/AGaramondPro-Semibold.otf
public_html/site/assets/css/fonts/AJensonPro-Bold.otf
public_html/site/assets/css/fonts/AJensonPro-BoldCapt.otf
public_html/site/assets/css/fonts/AJensonPro-Semibold.otf
public_html/site/assets/css/fonts/Aldine 721 BT.ttf
public_html/site/assets/css/fonts/Bickley-Script-LET-Plain.ttf
public_html/site/assets/css/fonts/Cancellaresca-Script.ttf
public_html/site/assets/css/fonts/ChaparralPro-BoldDisp.otf
public_html/site/assets/css/fonts/ChaparralPro-BoldSubh.otf
public_html/site/assets/css/fonts/Classical Garamond Bold BT.ttf
public_html/site/assets/css/fonts/JP-Hand-Straight.ttf
public_html/site/assets/css/fonts/MyriadPro-BoldSemiExt.otf
public_html/site/assets/css/fonts/PetraScriptEF-Regular-Regular.ttf
public_html/site/assets/css/fonts/RamseysHand-Regular.ttf
public_html/site/assets/css/fonts/RogersHand-Regular.ttf
public_html/site/assets/css/fonts/STOSNB__.ttf
public_html/site/assets/css/fonts/STOSNOB_.ttf
public_html/site/assets/css/fonts/SammysHand-Regular.ttf
public_html/site/assets/css/fonts/VolutaScript-Regular.ttf
public_html/site/assets/css/fonts/Zapf Calligraphic 801 Bold BT.ttf
public_html/site/assets/css/fonts/Zapf Humanist 601 Bold BT.ttf

put.sh
public_html/site/assets/vendor
public_html/testing-static/js/
public_html/testing-static/video/
sql/*.sql
public_html/site/assets/node_modules/
