/vendor/
ProcessWire
public_html/wire
public_html/site/config.php
public_html/site/assets/logs
public_html/site/assets/cache
public_html/zenphoto
public_html/site/assets/videos
public_html/site/assets/heart-collage-jigsaw
public_html/site/assets/ana-lisboa-steps/*.jpg

public_html/site/assets/media-element/*
!public_html/site/assets/media-element/build
public_html/site/assets/css/fonts/AGaramondPro-Semibold.otf
public_html/site/assets/css/fonts/AJensonPro-Bold.otf
public_html/site/assets/css/fonts/AJensonPro-BoldCapt.otf
public_html/site/assets/css/fonts/AJensonPro-Semibold.otf
public_html/site/assets/css/fonts/Aldine 721 BT.ttf
public_html/site/assets/css/fonts/Bickley-Script-LET-Plain.ttf
public_html/site/assets/css/fonts/Cancellaresca-Script.ttf
public_html/site/assets/css/fonts/ChaparralPro-BoldDisp.otf
public_html/site/assets/css/fonts/ChaparralPro-BoldSubh.otf
public_html/site/assets/css/fonts/Classical Garamond Bold BT.ttf
public_html/site/assets/css/fonts/JP-Hand-Straight.ttf
public_html/site/assets/css/fonts/MyriadPro-BoldSemiExt.otf
public_html/site/assets/css/fonts/PetraScriptEF-Regular-Regular.ttf
public_html/site/assets/css/fonts/RamseysHand-Regular.ttf
public_html/site/assets/css/fonts/RogersHand-Regular.ttf
public_html/site/assets/css/fonts/STOSNB__.ttf
public_html/site/assets/css/fonts/STOSNOB_.ttf
public_html/site/assets/css/fonts/SammysHand-Regular.ttf
public_html/site/assets/css/fonts/VolutaScript-Regular.ttf
public_html/site/assets/css/fonts/Zapf Calligraphic 801 Bold BT.ttf
public_html/site/assets/css/fonts/Zapf Humanist 601 Bold BT.ttf
