<!doctype html>
<html class="no-js" lang="">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		{% block seo_meta %}
		<title>{{ page.seo_title }}</title>
		<meta name="description" content="{{ page.headline }}">
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="{{ config.urls.assets }}fonts/definitions.css?v=1530896390">
		<!--**************** BASE **************** -->
    	{% if config.minifyAssets %}
    	<link rel="stylesheet" href="{{ config.urls.assets }}dist/base.css?v=1532458423">
    	{% else %}{% for s in [
    		'vendor/normalize.min.css',
    		'src/css/base/default.css',
    		'src/css/base/classes.css',
    		'src/css/base/colors.css',
    		'src/css/components/menu.css',
    		'src/css/main.css'
    	] %}<link rel="stylesheet" href="{{ config.urls.assets ~ s }}">{% endfor %}
    	{% endif %}
		<!--**************** BASE **************** -->
		{% block head_assets %}
		{% endblock %}
		<script>document.documentElement.className = 'js';</script>
    </head>
	<body class="page--{{ page.name }} template--{{ page.template.get('name') }} parent--{{ page.parent.name ? page.parent.name : 'none' }} theme--white">
		<div id="container">
			<header id="main-header">
				{% block main_menu %}
				<a id="logo" href="{{ config.urls.get('root') }}">{% include 'snippets/logo.svg' %}</a>
				<nav id="main-menu" class="dropdown-menu horizontal-list"><ul>{{ menu | raw }}</ul></nav>
				{% endblock %}
				{% block page_title %}
				<h2 class="page-title">{{ page.title }}</h2>
				{% endblock %}
			</header>
			{% block main_content %}
			<main id="main-content">{{ page.content | raw }}</main>
			{% endblock %}
			<button id="sound-button" class="clean-button img-button state--on"><img src="{{ config.urls.assets }}img/sound.png" alt="Toggle sound"></button>
		</div>
		<script>window.addEventListener('load', function(e) {
		    let l = document.querySelector('.loading'); l && l.classList.remove('loading')});</script>

		<!--**************** BASE **************** -->
    	{% if config.minifyAssets %}
    	<script src="{{ config.urls.assets }}dist/base.js?v=1533959185"></script>
    	{% else %}
        {% for s in [
    		'js-cookie/src/js.cookie.js',
    		'jquery/dist/jquery.min.js',
    		'lodash/lodash.min.js',
    		'buzz/dist/buzz.min.js'
        ] %}<script src="{{ config.urls.assets ~ 'node_modules/' ~ s }}"></script>{% endfor %}
        {% for s in [
    		'components/event-queue/event-queue.js',
    		'components/event-queue/init-event-queue.js',
    		'components/event-queue/load-event-queue.js',
    		'components/timeouts/resettable-timeout.js',
    		'components/events/event-emitter.js',
    		'components/events/timeout-event-emitter.js',
    		'components/dropdown/dropdown.js',
    		'components/dropdown/autohide-dropdown.js',
    		'components/dropdown/main-dropdown.js',
    		'components/dropdown/dropdown-submenu.js',
    		'components/music/music.js',
    		'components/music/music-playlist.js',
    		'components/music/music-muter.js',
    		'app.js'
        ] %}<script src="{{ config.urls.assets ~ 'src/js/' ~ s }}"></script>{% endfor %}
    	{% endif %}
		<!--**************** BASE **************** -->
		<script>
			app.setConfig({{ config.appConfig | raw }});
		</script>
		{% block foot_assets %}
		{% endblock %}
    </body>
</html>
