<!doctype html>
<html class="no-js" lang="">
    <head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			{% block seo_meta %}
			<title>{{ page.seo_title ? page.seo_title : page.title }}</title>
			<meta name="description" content="{{ page.headline }}">
			{% endblock %}
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="apple-touch-icon" href="apple-touch-icon.png">

			{% block css_js_head %}
			<link rel="stylesheet" href="{{ config.urls.assets }}fonts/definitions.css?v={{ CSS_VERSION }}">
			<style>
				.slick-slide { background: transparent url({{ config.urls.assets }}bower_components/slick-carousel/slick/ajax-loader.gif?v={{ BOWER_VERSION }}) center center no-repeat; }
				#sound-button { background-image: url({{ config.urls.assets }}img/sound-red.png) !important; }
			</style>
			<link rel="stylesheet" href="{{ config.urls.assets }}bower_components/normalize-css/normalize.css?v={{ BOWER_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}bower_components/mediaelement/build/mediaelementplayer.css?v={{ BOWER_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}bower_components/slick-carousel/slick/slick.css?v={{ BOWER_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}bower_components/featherlight/release/featherlight.min.css?v={{ BOWER_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/base/default.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/base/classes.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/base/colors.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/components/menu.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/components/intro.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/components/slideshow.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/components/motion.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/components/jigsaw.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/main.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/templates/{{ page.template }}.css?v={{ CSS_VERSION }}">
			<link rel="stylesheet" href="{{ config.urls.assets }}src/css/pages/{{ page.name }}.css?v={{ CSS_VERSION }}">
			{% endblock %}
			<script>document.documentElement.className = 'js';</script>
    </head>
		<body class="page--{{ page.name }} template--{{ page.template.get('name') }} parent--{{ page.parent.name ? page.parent.name : 'none' }} theme--white">
			<div id="container">
				<header id="main-header">
					{% block main_menu %}
					<a id="logo" href="{{ config.urls.get('root') }}">{% include 'snippets/logo.svg' %}</a>
					<nav id="main-menu" class="dropdown-menu horizontal-list"><ul>{{ menu }}</ul></nav>
					{% endblock %}
					{% block page_title %}
					<h2 class="page-title">{{ page.title }}</h2>
					{% endblock %}
				</header>
				{% block main_content %}
				<main id="main-content">{{ page.content }}</main>
				{% endblock %}
				<button id="sound-button" class="clean-button img-button state--on"><img src="{{ config.urls.assets }}img/sound.png" alt="Toggle sound"></button>
			</div>

			{% block css_js_foot %}
			{% include 'snippets/definitions.js' %}
			<script src="{{ config.urls.assets }}bower_components/jquery/dist/jquery.min.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}bower_components/slick-carousel/slick/slick.min.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}bower_components/featherlight/release/featherlight.min.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}bower_components/mediaelement/build/mediaelement-and-player.min.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}bower_components/doubly-linked-list-js/doubly-linked-list.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}bower_components/buzz/dist/buzz.min.js?v={{ BOWER_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/components/intro.js?v={{ JS_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/components/menu.js?v={{ JS_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/components/slideshow.js?v={{ JS_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/components/motion.js?v={{ JS_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/components/jigsaw.js?v={{ JS_VERSION }}"></script>
			<script src="{{ config.urls.assets }}src/js/main.js?v={{ JS_VERSION }}"></script>
			{% endblock %}
    </body>
</html>
