<!doctype html>
<html class="no-js" lang="">
    <head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			{% block seo_meta %}
			<title>{{ page.seo_title ? page.seo_title : page.title }}</title>
			<meta name="description" content="{{ page.headline }}">
			{% endblock %}
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="apple-touch-icon" href="apple-touch-icon.png">

			{% block css_js_head %}
			{% if config.debug %}
			<link rel="stylesheet" href="{{ config.urls.assets }}css/src/main.css">
			<script src="{{ config.urls.assets }}js/src/vendor/modernizr.js"></script>
			{% else %}
			<link rel="stylesheet" href="{{ config.urls.assets }}css/dist/main.css">
			<script src="{{ config.urls.assets }}js/dist/modernizr.js"></script>
			{% endif %}
			{% endblock %}
    </head>
		<body class="page--{{ page.name }} template--{{ page.template.get('name') }} parent--{{ page.parent.name }}">
			<div id="container">
				<header id="main-header">
					{% block main_menu %}
					<nav id="main-menu" class="dropdown-menu horizontal-list"><ul>{{ menu }}</ul></nav>
					{% endblock %}
					<h2 class="page-title">{{ page.title }}</h2>
				</header>
				{% block main_content %}
				<main id="main-content">{{ page.content }}</main>
				{% endblock %}
			</div>

			{% block css_js_foot %}
			<script>window.ASSETS_URL = "{{ ASSETS_URL }}"; window.ALBUMS_URL = "{{ ALBUMS_URL }}";</script>
			{% if config.debug %}
			<script src="{{ config.urls.assets }}js/src/vendor/jquery.js"></script>
			<script src="{{ config.urls.assets }}js/src/vendor/slick.js"></script>
			<script src="{{ config.urls.assets }}js/src/vendor/doubly-linked-list.js"></script>
			<script src="{{ config.urls.assets }}js/src/components/menu.js"></script>
			<script src="{{ config.urls.assets }}js/src/components/slideshow.js"></script>
			<script src="{{ config.urls.assets }}js/src/components/motion.js"></script>
			<script src="{{ config.urls.assets }}js/src/components/jigsaw.js"></script>
			<script src="{{ config.urls.assets }}js/src/main.js"></script>
			{% else %}
			<script src="{{ config.urls.assets }}js/dist/main.js"></script>
			{% endif %}
			{% endblock %}
    </body>
</html>
