{% extends "base.html" %}

{% block main_content %}
<main id="main-content">
	<section id="heart-collage" class="jigsaw" data-after-pieces="color,outline,people,heart,full" data-url="{{ config.urls.assets }}heart-collage-jigsaw" data-pieces="{{ files(config.paths.assets ~ 'heart-collage-jigsaw/piece*') | join(',') }}">
		<img id="full" data-delay="14" src="{{ config.urls.assets }}heart-collage-jigsaw/full.jpg" alt="Keith Haring Heart Collage">
		<img id="outline" data-delay="3" src="{{ config.urls.assets }}heart-collage-jigsaw/outline.gif" alt="">
		<img id="heart" data-delay="12" src="{{ config.urls.assets }}heart-collage-jigsaw/heart-inside.png" alt="">
		<img id="people" data-delay="10" src="{{ config.urls.assets }}heart-collage-jigsaw/people-inside.png" alt="">
		<img id="color" data-delay="1" src="{{ config.urls.assets }}heart-collage-jigsaw/background-color.jpg" alt="">
	</section>
</main>
{% endblock %}
