.dropdown-menu ul {
  list-style: none;
  text-align: left;
	overflow: auto;
}
.dropdown-menu ul,
.dropdown-menu ul {
	margin: 0;
	padding: 0;
}
.dropdown-menu a {
	display: block;
	text-decoration: none;
	color: inherit;
}

#main-menu {
	font-size: 27px;
	text-transform: uppercase;
}
/* Home button */
#main-menu > ul > li > a {
	font-size: 34px;
	line-height: 1.6;
}
/* Root menu */
#main-menu > ul > li > ul {
	position: absolute;
	right: 0;
	top: 11px;
	overflow: hidden;
}
/* Top items */
#main-menu > ul > li > ul > li {
	float: left;
}

/* Color only on hovers and selected *
#main-menu > ul > li > ul > li:nth-child(1) > a:hover, #main-menu > ul > li > ul > li:nth-child(1) > a.selected { color: #FF2526; }
#main-menu > ul > li > ul > li:nth-child(2) > a:hover, #main-menu > ul > li > ul > li:nth-child(2) > a.selected { color: #FF5583; }
#main-menu > ul > li > ul > li:nth-child(3) > a:hover, #main-menu > ul > li > ul > li:nth-child(3) > a.selected { color: #FFF23A; }
#main-menu > ul > li > ul > li:nth-child(4) > a:hover, #main-menu > ul > li > ul > li:nth-child(4) > a.selected { color: #00FFA2; }
#main-menu > ul > li > ul > li:nth-child(5) > a:hover, #main-menu > ul > li > ul > li:nth-child(5) > a.selected { color: #35D7DD; }
#main-menu > ul > li > ul > li:nth-child(6) > a:hover, #main-menu > ul > li > ul > li:nth-child(6) > a.selected { color: #5DB0DB; }
/* */

#main-menu > ul > li > ul > li > a {
	position: relative;
	overflow: hidden;
}
#main-menu > ul > li > ul > li:nth-child(1) > a { color: #FF2526; }
#main-menu > ul > li > ul > li:nth-child(2) > a { color: #FF5583; }
#main-menu > ul > li > ul > li:nth-child(3) > a { color: #FFF23A; }
#main-menu > ul > li > ul > li:nth-child(4) > a { color: #00FFA2; }
#main-menu > ul > li > ul > li:nth-child(5) > a { color: #35D7DD; }
#main-menu > ul > li > ul > li:nth-child(6) > a { color: #5DB0DB; }
/* Shadows on hover and selected */
#main-menu > ul > li > ul > li:nth-child(1) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(1) > a {
	text-shadow:  #FF2526 0 0 1px, #FF2526 0 0 1px;
}
#main-menu > ul > li > ul > li:nth-child(2) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(2) > a {
	text-shadow:  #FF5583 0 0 1px, #FF5583 0 0 1px;
}
#main-menu > ul > li > ul > li:nth-child(3) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(3) > a {
	text-shadow:  #FFF23A 0 0 1px, #FFF23A 0 0 1px;
}
#main-menu > ul > li > ul > li:nth-child(4) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(4) > a {
	text-shadow:  #00FFA2 0 0 1px, #00FFA2 0 0 1px;
}
#main-menu > ul > li > ul > li:nth-child(5) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(5) > a {
	text-shadow:  #35D7DD 0 0 1px, #35D7DD 0 0 1px;
}
#main-menu > ul > li > ul > li:nth-child(6) > a:hover, #main-menu > ul > li > ul > li.selected:nth-child(6) > a {
	text-shadow:  #5DB0DB 0 0 1px, #5DB0DB 0 0 1px;
}
/* */
#main-menu > ul > li > ul > li > a::after {
	content:'';
	position: absolute;
	top: -0.7em;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 1em;
}
#main-menu > ul > li > ul > li.selected:nth-child(1) > a::after { box-shadow: 0px 0px 80px #FF2526; }
#main-menu > ul > li > ul > li.selected:nth-child(2) > a::after { box-shadow: 0px 0px 80px #FF5583; }
#main-menu > ul > li > ul > li.selected:nth-child(3) > a::after { box-shadow: 0px 0px 80px #FFF23A; }
#main-menu > ul > li > ul > li.selected:nth-child(4) > a::after { box-shadow: 0px 0px 80px #00FFA2; }
#main-menu > ul > li > ul > li.selected:nth-child(5) > a::after { box-shadow: 0px 0px 80px #35D7DD; }
#main-menu > ul > li > ul > li.selected:nth-child(6) > a::after { box-shadow: 0px 0px 80px #5DB0DB; }

/* Submenus */
#main-menu > ul > li > ul ul {
	position: absolute;
	font-size: 14px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#main-menu > ul > li > ul > li > ul > li > a {
	color: white;
}
#main-menu > ul > li > ul ul a:hover {
	color: #ccc;
}
#main-menu > ul > li > ul > li.selected > ul > li.selected > a {
	color: #aaa;
}
#main-menu > ul > li > ul > li.selected:nth-child(1) > ul > li.selected > a { color: #FF2526; }
#main-menu > ul > li > ul > li.selected:nth-child(2) > ul > li.selected > a { color: #FF5583; }
#main-menu > ul > li > ul > li.selected:nth-child(3) > ul > li.selected > a { color: #FFF23A; }
#main-menu > ul > li > ul > li.selected:nth-child(4) > ul > li.selected > a { color: #00FFA2; }
#main-menu > ul > li > ul > li.selected:nth-child(5) > ul > li.selected > a { color: #35D7DD; }
#main-menu > ul > li > ul > li.selected:nth-child(6) > ul > li.selected > a { color: #5DB0DB; }
#main-menu > ul > li > ul ul.open {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.1s, opacity 0.2s, visibility 0s 0s;
}
