.motion > img {
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 1s;
}
.motion.init > img {
	opacity: 0;
}

#ana-lisboa-steps {
	width: 754px;
	height: 503px;
	position: absolute;
	left: calc(50% - 377px);
	top: calc(50% - 251px);
}

