.template--images #main-content {
	text-align: center;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.gallery a {
	overflow: hidden;
}
.gallery a:not(.jg-entry) img {
	opacity: 0;
}
.gallery img {
	transition: transform 0.5s, opacity 0.3s !important;
}
/*
.gallery a:hover img {
	transform: scale(1.3);
}
*/
.template--images #main-content video {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: calc(100vh - 200px);
	object-fit: contain;
}
