body, html {
    margin: 0;
    padding: 0;
}
.maintenance svg {
    width: 80vw;
    height: auto;
    max-width: 640px;
}
.maintenance #container > main {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.maintenance p {
    font-size: 5vw;
    margin: 1em 0 0;
}
@media (min-width: 640px) {
    .maintenance p {
        font-size: 4vw;
    }
}
@media (min-width: 980px) {
    .maintenance p {
        font-size: 3vw;
    }
}
@media (min-width: 1280px) {
    .maintenance p {
        font-size: 2vw;
    }
}
