<article id="{{ id }}" class="slideshow" style="max-width:{{ width }}px; max-height:{{ height }}px;" data-width="{{ width }}" data-height="{{ height }}">
	<nav>
		<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style=""><svg viewBox="0 0 100 100" preserveAspectRatio="none" title="Previous"><path d="M 100,0 L 0,50 L 100,100"/></svg></button>
		<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style=""><svg viewBox="0 0 100 100" preserveAspectRatio="none" title="Next"><path d="M 0,0 L 100,50 L 0,100"/></svg></button>
	</nav>
	<main class="images">
		{% for img in images %}
		<article class="image"><a href="{{ album_url }}{{ img.filename }}" data-width="{{ img.width }}" data-height="{{ img.height }}"><img data-lazy="{{ imageUrl(name, img.filename) }}" alt="{{ img.filename }}"></a></article>
		{% endfor %}
	</main>
</article>
