.slideshow > nav,
.slideshow a,
.parent--still .slideshow,
.parent--motion .motion,
.absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}
.slideshow > nav,
.fade {
	opacity: 1;
	transition: opacity 0.3s;
}
.clean-button,
.icon-button {
	background-color: transparent;
	border-style: none;
	box-shadow: none;
	outline-style: none;
}
.icon-button {
	cursor: pointer;
}
.icon-button > svg {
	pointer-events: none;
}
