.absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.clean-button,
.icon-button {
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}
.icon-button {
	cursor: pointer;
}
.icon-button > svg {
	pointer-events: none;
}
