body {
	background-color: black;
	color: #ddd;
}
input {
	color: white;
}

#logo path { fill: white; }
#main-menu { color: white; }
.breadcrumb,
#main-menu > ul > li > ul a { color: #888; }
#main-menu > ul > li > ul > li > ul > li > a { color: white; }
#main-menu > ul > li > ul ul a:hover { color: #ccc; }
#main-menu > ul > li > ul > li.selected > ul > li.selected > a { color: #aaa; }
#main-menu.intro-colors li.color--normal > a { color: #888 !important; }

#main-menu.intro-colors a[href^="/about"], #main-menu a[href^="/about"]:hover, #main-menu li.selected a[href^="/about"] { color: #FF2526; }
#main-menu.intro-colors a[href^="/still"], #main-menu a[href^="/still"]:hover, #main-menu li.selected a[href^="/still"] { color: #FF5583; }
#main-menu.intro-colors a[href^="/motion"], #main-menu a[href^="/motion"]:hover, #main-menu li.selected a[href^="/motion"] { color: #FFF23A; }
#main-menu.intro-colors a[href^="/project"], #main-menu a[href^="/project"]:hover, #main-menu li.selected a[href^="/project"] { color: #00FFA2; }
#main-menu.intro-colors a[href^="/new"], #main-menu a[href^="/new"]:hover, #main-menu li.selected a[href^="/new"] { color: #35D7DD; }
#main-menu.intro-colors a[href^="/contact"], #main-menu a[href^="/contact"]:hover, #main-menu li.selected a[href^="/contact"] { color: #5DB0DB; }

.parent--still .breadcrumb > .current { color: #FF5583; }
.parent--motion .breadcrumb > .current { color: #FFF23A; }
.page--new .breadcrumb > .current { color: #35D7DD; }

.slick-arrow path {
	stroke: white;
}

body.theme--white {
	background-color: white;
	color: #333;
}

body.theme--white #logo path { fill: black; }
body.theme--white #main-menu { color: black; }
body.theme--white .breadcrumb,
body.theme--white #main-menu > ul > li > ul { color:#666; }
body.theme--white #main-menu > ul > li > ul > li > ul > li > a { color: black; }

body.theme--white .slick-arrow path {
	stroke: black;
}

