.tc { text-align: center; }

/*
.slideshow > nav,
.slideshow a,
*/
.template--home .motion,
.template--images video,
.parent--motion .motion,
.absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}
.featherlight-next:hover span, .featherlight-previous:hover span,
.fade {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s, visibility 0s 0s;
}
.featherlight-next span, .featherlight-previous span,
.fade.fade-out {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0s 0.3s;
}
input,
.clean-button,
.slick-arrow,
.icon-button {
	background-color: transparent;
	border-style: none;
	box-shadow: none;
	outline-style: none;
	padding: 0;
}
.clean-button,
.slick-arrow,
.icon-button {
	cursor: pointer;
}
.icon-button > svg {
	pointer-events: none;
}
.loading {
	background: transparent url(/site/assets/img/ajax-loader.gif) center center no-repeat;
}
.full-window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
.sound-button {
	background: transparent url(/site/assets/img/sound.png) center center no-repeat;
}
.mute .sound-button {
	background-image: url(/site/assets/img/sound-red.png);
}
