@import "base/normalize.css";
@import "base/default.css";
@import "base/classes.css";
@import "base/fonts.css";
@import "components/menu.css";
@import "components/slick.css";
@import "components/slideshow.css";
@import "components/motion.css";
@import "components/jigsaw.css";

body,html {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: white;
}
#container {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
}
h2.page-title {
	margin: 50px auto;
	max-width: 980px;
	padding: 0 20px;
}

#main-content {
	position: relative;
	margin: 0 auto;
	max-width: 980px;
	padding: 0 1em 50px;
	min-height: calc(100vh - 220px);
}
#main-content > p:empty {
	display: none;
}

h2.page-title,
#main-content > h3,
#main-menu {
	font-family: Arial Black,Arial,sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}
h2.page-title {
	text-align: center;
}
#main-content > h3,
#main-content > p {
	max-width: 640px;
	text-align: justify;
	margin: 1em auto;
}
#main-content > h3 {
	margin: 3em auto 1em;
}
#main-content > p:first-child {
	margin-top: 3em;
}

#main-content a {
	text-decoration: none;
	color: lightblue;
}

.js h2.page-title,
.js #main-content,
.js #main-content > * {
	opacity: 0;
	transition: opacity 2s;
}
